[submodule "libraries/arduino-i2c-sht4x"]
	path = libraries/arduino-i2c-sht4x
	url = https://github.com/Sensirion/arduino-i2c-sht4x.git
	branch = master
[submodule "libraries/arduino-core"]
	path = libraries/arduino-core
	url = https://github.com/Sensirion/arduino-core.git
	branch = main
[submodule "libraries/arduino-xensiv-dps3xx"]
	path = libraries/arduino-xensiv-dps3xx
	url = https://github.com/Infineon/arduino-xensiv-dps3xx.git
	branch = master
