---
---
@charset "UTF-8";
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}

// some classes should not be defined with a theme class.
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

// the default theme
.theme-default {
  {% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}
  .obj-default-theme {
    display:flex;
  }
  .obj-dark-theme {
    display:none;
  }
}

// the dark theme
.theme-dark {
  {% include css/just-the-docs.scss.liquid color_scheme="custom_dark" %}
  .obj-default-theme{
    display:none;
  }
  .obj-dark-theme{
    display:flex;
  }
}
